name: Android UI Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Install Appium and Driver
        run: |
          npm install -g appium
          appium driver install uiautomator2

      - name: Run Appium Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 31
          target: google_apis
          arch:   x86_64 
          avd-name: test
          force-avd-creation: true
          disable-animations: true
          emulator-options: >
            -no-window
            -gpu swiftshader_indirect
            -noaudio
            -no-boot-anim
            -camera-back none
            -no-metrics
          script: npm test

      - name: Upload Screenshots & Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            screenshots/
            allure-results/
